# First Code
Just getting summary statistics for my datasets.

In [24]:
# install random packages
%pip install qeds
import random
import numpy as np
import pandas as pd
import qeds
import matplotlib.pyplot as plt

%matplotlib inline
# activate plot theme
import qeds

Requirement already satisfied: qeds in c:\users\idatt\anaconda3\lib\site-packages (0.7.0)
Requirement already satisfied: pandas in c:\users\idatt\anaconda3\lib\site-packages (from qeds) (2.2.2)
Requirement already satisfied: requests in c:\users\idatt\anaconda3\lib\site-packages (from qeds) (2.32.3)
Requirement already satisfied: quandl in c:\users\idatt\anaconda3\lib\site-packages (from qeds) (3.7.0)
Requirement already satisfied: scipy in c:\users\idatt\anaconda3\lib\site-packages (from qeds) (1.13.1)
Requirement already satisfied: numpy in c:\users\idatt\anaconda3\lib\site-packages (from qeds) (1.26.4)
Requirement already satisfied: quantecon in c:\users\idatt\anaconda3\lib\site-packages (from qeds) (0.7.2)
Requirement already satisfied: matplotlib in c:\users\idatt\anaconda3\lib\site-packages (from qeds) (3.9.2)
Requirement already satisfied: pyarrow in c:\users\idatt\anaconda3\lib\site-packages (from qeds) (16.1.0)
Requirement already satisfied: openpyxl in c:\users\idatt\anaconda3\lib\site-packages (from qeds) (3.1.5)
Requirement already satisfied: plotly in c:\users\idatt\anaconda3\lib\site-packages (from qeds) (5.24.1)
Requirement already satisfied: pandas-datareader in c:\users\idatt\anaconda3\lib\site-packages (from qeds) (0.10.0)
Requirement already satisfied: scikit-learn in c:\users\idatt\anaconda3\lib\site-packages (from qeds) (1.5.1)
Requirement already satisfied: seaborn in c:\users\idatt\anaconda3\lib\site-packages (from qeds) (0.13.2)
Requirement already satisfied: statsmodels in c:\users\idatt\anaconda3\lib\site-packages (from qeds) (0.14.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\idatt\anaconda3\lib\site-packages (from matplotlib->qeds) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\idatt\anaconda3\lib\site-packages (from matplotlib->qeds) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\idatt\anaconda3\lib\site-packages (from matplotlib->qeds) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\idatt\anaconda3\lib\site-packages (from matplotlib->qeds) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\idatt\anaconda3\lib\site-packages (from matplotlib->qeds) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\idatt\anaconda3\lib\site-packages (from matplotlib->qeds) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\idatt\anaconda3\lib\site-packages (from matplotlib->qeds) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\idatt\anaconda3\lib\site-packages (from matplotlib->qeds) (2.9.0.post0)
Requirement already satisfied: et-xmlfile in c:\users\idatt\anaconda3\lib\site-packages (from openpyxl->qeds) (1.1.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\idatt\anaconda3\lib\site-packages (from pandas->qeds) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\idatt\anaconda3\lib\site-packages (from pandas->qeds) (2023.3)
Requirement already satisfied: lxml in c:\users\idatt\anaconda3\lib\site-packages (from pandas-datareader->qeds) (5.2.1)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\idatt\anaconda3\lib\site-packages (from requests->qeds) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\idatt\anaconda3\lib\site-packages (from requests->qeds) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\idatt\anaconda3\lib\site-packages (from requests->qeds) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\idatt\anaconda3\lib\site-packages (from requests->qeds) (2024.12.14)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\idatt\anaconda3\lib\site-packages (from plotly->qeds) (8.2.3)
Requirement already satisfied: inflection>=0.3.1 in c:\users\idatt\anaconda3\lib\site-packages (from quandl->qeds) (0.5.1)
Requirement already satisfied: six in c:\users\idatt\anaconda3\lib\site-packages (from quandl->qeds) (1.16.0)
Requirement already satisfied: more-itertools in c:\users\idatt\anaconda3\lib\site-packages (from quandl->qeds) (10.3.0)
Requirement already satisfied: numba>=0.49.0 in c:\users\idatt\anaconda3\lib\site-packages (from quantecon->qeds) (0.60.0)
Requirement already satisfied: sympy in c:\users\idatt\anaconda3\lib\site-packages (from quantecon->qeds) (1.13.2)
Requirement already satisfied: joblib>=1.2.0 in c:\users\idatt\anaconda3\lib\site-packages (from scikit-learn->qeds) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\idatt\anaconda3\lib\site-packages (from scikit-learn->qeds) (3.5.0)
Requirement already satisfied: patsy>=0.5.6 in c:\users\idatt\anaconda3\lib\site-packages (from statsmodels->qeds) (0.5.6)
Requirement already satisfied: llvmlite<0.44,>=0.43.0dev0 in c:\users\idatt\anaconda3\lib\site-packages (from numba>=0.49.0->quantecon->qeds) (0.43.0)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in c:\users\idatt\anaconda3\lib\site-packages (from sympy->quantecon->qeds) (1.3.0)
Note: you may need to restart the kernel to use updated packages.

In [28]:
# make Dataframes
public_df = pd.read_csv("Public_Schools.csv")
private_df = pd.read_csv("Private_Schools.csv")

In [36]:
public_summ = public_df.describe()
private_summ = private_df.describe()
display(public_summ)
display(private_summ)

,X,Y,OBJECTID,NCESID,ZIP,TYPE,STATUS,POPULATION,COUNTYFIPS,LATITUDE,LONGITUDE,NAICS_CODE,ENROLLMENT,DISTRICTID,FT_TEACHER
count,1.023340e+05,1.023340e+05,102334.000000,1.023340e+05,102334.000000,102334.000000,102334.000000,102334.000000,102334.000000,102334.000000,102334.000000,102334.0,102334.000000,1.023340e+05,102334.000000
mean,-1.033332e+07,4.579500e+06,51167.500000,2.905037e+11,53562.284295,1.220054,1.090947,483.036889,28968.553599,37.770286,-92.825775,611110.0,459.035628,2.905037e+06,-36.289786
std,1.886464e+06,8.304702e+05,29541.425561,1.673239e+11,29196.306387,0.734473,0.579796,560.475983,16728.169028,5.853983,16.946398,0.0,526.948883,1.673239e+06,258.661914
min,-1.966346e+07,-1.613688e+06,1.000000,1.000050e+10,601.000000,1.000000,1.000000,-999.000000,1001.000000,-14.343785,-176.639894,611110.0,-999.000000,1.000050e+05,-999.000000
25%,-1.123582e+07,4.020111e+06,25584.250000,1.302550e+11,30025.750000,1.000000,1.000000,233.000000,13135.000000,33.935247,-100.933123,611110.0,217.000000,1.302550e+06,14.000000
50%,-9.926529e+06,4.687048e+06,51167.500000,2.906120e+11,54937.000000,1.000000,1.000000,447.000000,29037.000000,38.757874,-89.171530,611110.0,420.000000,2.906120e+06,26.000000
75%,-9.017748e+06,5.113090e+06,76750.750000,4.218990e+11,78521.000000,1.000000,1.000000,680.000000,42079.000000,41.679495,-81.007806,611110.0,641.000000,4.218990e+06,40.000000
max,1.613220e+07,1.150574e+07,102334.000000,7.800030e+11,99950.000000,4.000000,8.000000,14672.000000,78030.000000,71.300288,144.918007,611110.0,14286.000000,7.800030e+06,1419.000000

,X,Y,FID,OBJECTID,ZIP,TYPE,STATUS,POPULATION,COUNTYFIPS,LATITUDE,LONGITUDE,NAICS_CODE,LEVEL_,ENROLLMENT,START_GRAD,END_GRADE,FT_TEACHER
count,3.106400e+04,3.106400e+04,31064.000000,31064.000000,31064.000000,31064.000000,31064.000000,31064.000000,31064.000000,31064.000000,31064.000000,31064.0,31064.000000,31064.000000,31064.000000,31064.000000,31064.000000
mean,-1.005397e+07,4.618628e+06,15532.500000,15532.500000,47446.429114,2.222476,1.278007,156.178341,28060.888907,38.098453,-90.316370,611110.0,1.619366,142.387909,3.986705,11.978271,13.790433
std,1.844757e+06,7.273158e+05,8967.548717,8967.548717,30127.792775,2.113947,0.448024,236.346831,15709.543904,5.157362,16.571738,0.0,0.875161,218.895729,3.647974,5.073964,19.853510
min,-1.809875e+07,2.212808e+06,1.000000,1.000000,1002.000000,1.000000,1.000000,1.000000,1001.000000,19.490817,-162.583813,611110.0,1.000000,1.000000,1.000000,1.000000,0.000000
25%,-1.078104e+07,4.049879e+06,7766.750000,7766.750000,20016.000000,1.000000,1.000000,23.000000,12127.000000,34.156821,-96.847774,611110.0,1.000000,20.000000,2.000000,10.000000,3.000000
50%,-9.464129e+06,4.807856e+06,15532.500000,15532.500000,44139.000000,1.000000,1.000000,71.000000,29001.000000,39.599108,-85.017718,611110.0,1.000000,63.000000,2.000000,13.000000,8.000000
75%,-8.597668e+06,5.093510e+06,23298.250000,23298.250000,75229.000000,2.000000,2.000000,199.000000,42017.000000,41.547998,-77.234161,611110.0,3.000000,182.000000,3.000000,17.000000,16.000000
max,-7.501680e+06,1.012829e+07,31064.000000,31064.000000,99999.000000,7.000000,2.000000,6446.000000,56043.000000,66.902354,-67.388740,611110.0,3.000000,5840.000000,17.000000,17.000000,606.000000